 {% extends 'base.html' %}

{% block content %}

<div class="row align-items-center min-vh-75">

    <div class="col-md-6">

        <h1 class="display-3 fw-bold mb-4">
            Empower NGOs With Smart Management
        </h1>

        <p class="lead text-muted mb-4">
            Manage donations, volunteers, campaigns and events
            with a modern centralized platform.
        </p>

        <a href="/register"
           class="btn btn-success btn-lg px-5 rounded-pill me-3">
            Get Started
        </a>

        <a href="/login"
           class="btn btn-dark btn-lg px-5 rounded-pill">
            Sign In
        </a>

    </div>

    <div class="col-md-6 text-center">

        <img src="https://cdn-icons-png.flaticon.com/512/4320/4320337.png"
             class="img-fluid"
             width="450">

    </div>

</div>

{% endblock %}